@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Additional global styles */
body {
  @apply bg-white text-black; /* Light mode styles */
}

body.dark {
  @apply bg-gray-800 text-white; /* Dark mode styles */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this in your styles/globals.css */
.scroll-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.blur-section {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6); /* Optional: Gives background color */
  backdrop-filter: blur(10px); /* Apply blur */
  transition: opacity 0.3s ease; /* Smooth transition */
  pointer-events: none; /* Prevent interaction */
}

.top-blur {
  top: 20;
}

.bottom-blur {
  bottom: 20;
}

.content {
  position: relative;
  padding: 8rem 2rem; /* You can adjust based on your layout */
  transition: opacity 0.3s ease;
  z-index: 10; /* Ensure content is above blur */
}
